/* CSS files add styling rules to your content */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 1em;
  background-color: #fef6e4;
}

/* main {
  background-color: #f3d2c1;
} */

header {
  background-color: #fef6e4;
}

footer {
  text-align: center;
  color: #001858;
}

h1 {
  font-family: "Rammetto One";
  color: #001858;
  font-size: 12vw;
  text-align: center;
}

h2 {
  font-family: "Rammetto One";
  color: #001858;
  font-size: 3vw;
  text-align: center;
}

a {
  color: #001858;
}

a:hover,
a:focus,
a:active {
  /* UNDERLINE WHEN HOVERING OVER LINK */
  color: #8BD3DD;
}

.fa {
  text-decoration: none;
  margin: 0 2%;
}

.holds-row {
  text-align: center;
}

.tooltip svg {
  width: 20vw;
  margin: 3% 5%;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: 0% 5%;
}

.tooltip-content {
  display: none;
  background-color: #f582ae;
  width: 20vw;
  font-size: 2vw;
  color: #001858;
  text-align: center;
  padding: 5px 0;
  border-radius: 3%;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 5vw;
}

.tooltip-content img {
  height: 20vw;
  width: 20vw;
  object-fit: cover;
  margin-top: 1%;
}

.tooltip:hover .tooltip-content {
  display: inline;
}

.tooltip:hover svg {
  opacity: 50%;
}

#backDown {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 2%; /* Place the button at the bottom of the page */
  right: 2%; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #f582ae; /* Set a background color */
  color: #001858; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 3%; /* Rounded corners */
  font-size: 2vw; /* Increase font size */
}

#backDown:hover {
  opacity: 50%
}